config USB_DWC_OTG
	tristate 'Synopsys otg 2.0 support'
	depends on SOC_JZ4780 || SOC_JZ4775
	select DWC_LM_INTERFACE
	help
	  Say Y here to select Synopsys otg.
choice
	prompt "Synopsys otg mode"
	depends on USB_DWC_OTG

config USB_DWC_OTG_DUAL
	bool "both host and device function"
	select USB_DWC_PERIPHERAL

config USB_DWC_DEV_ONLY
	bool "device function"
	select USB_DWC_PERIPHERAL

config USB_DWC_HOST_ONLY
	bool "host function"

endchoice

config USB_DWC_PERIPHERAL
	bool
	depends on (USB_DWC_OTG_DUAL || USB_DWC_DEV_ONLY)

config DWC_LM_INTERFACE
	bool
	depends on USB_DWC_OTG
